<center><b>Overview of the problem statement:</b>

Welcome to the <b>House Price Prediction Challenge</b>, you will test your regression skills by designing an algorithm to accurately predict the house prices in India. Accurately predicting house prices can be a daunting task. The buyers are just not concerned about the size(square feet) of the house and there are various other factors that play a key role to decide the price of a house/property. It can be extremely difficult to figure out the right set of attributes that are contributing to understanding the buyer's behavior as such. This dataset has been collected across various property aggregators across India.  In this competition, provided the 12 influencing factors your role as a data scientist is to predict the prices as accurately as possible.

Also, in this competition, you will get a lot of room for feature engineering and mastering advanced regression techniques such as Random Forest, Deep Neural Nets, and various other ensembling techniques.

<b>Attributes Description:</b>

    POSTED_BY - Category marking who has listed the property
    UNDER_CONSTRUCTION - Under Construction or Not
    RERA - Rera approved or Not
    BHK_NO - Number of Rooms
    BHK_OR_RK - Type of property
    SQUARE_FT - Total area of the house in square feet
    READY_TO_MOVE - Category marking Ready to move or Not
    RESALE - Category marking Resale or not
    ADDRESS - Address of the property
    LONGITUDE - Longitude of the property
    LATITUDE - Latitude of the property

In [1]:
#Import required packages
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

Import data

In [5]:
train = pd.read_csv('.\dataset\Train.csv')
test = pd.read_csv('.\dataset\Test.csv')
sample_submission = pd.read_csv('.\dataset\sample_submission.csv')

Number of rows and columns in train & test data

In [6]:
train.shape , test.shape

((29451, 12), (68720, 11))

In [8]:
train.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

###### Check if any column has missing value

In [10]:
train.isnull().sum()

POSTED_BY                0
UNDER_CONSTRUCTION       0
RERA                     0
BHK_NO.                  0
BHK_OR_RK                0
SQUARE_FT                0
READY_TO_MOVE            0
RESALE                   0
ADDRESS                  0
LONGITUDE                0
LATITUDE                 0
TARGET(PRICE_IN_LACS)    0
dtype: int64

So, no missing values

Check number of unqiue values per column

In [11]:
train.nunique()

POSTED_BY                    3
UNDER_CONSTRUCTION           2
RERA                         2
BHK_NO.                     16
BHK_OR_RK                    2
SQUARE_FT                19561
READY_TO_MOVE                2
RESALE                       2
ADDRESS                   6899
LONGITUDE                 4087
LATITUDE                  4078
TARGET(PRICE_IN_LACS)     1172
dtype: int64

Check datatype of each column

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
POSTED_BY                29451 non-null object
UNDER_CONSTRUCTION       29451 non-null int64
RERA                     29451 non-null int64
BHK_NO.                  29451 non-null int64
BHK_OR_RK                29451 non-null object
SQUARE_FT                29451 non-null float64
READY_TO_MOVE            29451 non-null int64
RESALE                   29451 non-null int64
ADDRESS                  29451 non-null object
LONGITUDE                29451 non-null float64
LATITUDE                 29451 non-null float64
TARGET(PRICE_IN_LACS)    29451 non-null float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB